{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

	{% if registrationMessage is defined %}
		<div style='background-color:orange;'>{{ registrationMessage }}</div>
	{% endif %}
	

	<div class="body-wrapper">
		<h1>Welcome to the test site</h1>
	</div>
{% endblock %}
