{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

	<div>
		<a href="{{ path('app_logout') }}">Logout</a>
	</div>
	<div class="body-wrapper">
		<h1>Welcome to the test site</h1>
	</div>
{% endblock %}
