<div  class="admin_nav_wrapper">
    <a class="admin_nav" href="{{ path('app_administrator') }}">Users</a>
    <a class="admin_nav" href="{{ path('app_administrator_products') }}">Products</a>
    <a class="admin_nav" href="{{ path('app_edit_user', {id:currentUser.id}) }}">Edit Your Account details</a>
</div>