<div class="flashes">
    {% for deletedUserMessage in app.flashes('deletedUser') %}
        <div class="background-lightgreen">
            {{ deletedUserMessage }}
        </div>
    {% endfor %}

    {% for editedUserMessage in app.flashes('userEdited') %}
        <div class="background-lightgreen">
            {{ editedUserMessage }}
        </div>
    {% endfor %}
</div>